
body {
	background-color: #291720;
	color: #291720;
}
button {
	background-color: #0e4d8c;/*#558855;*/
	color: #ccc;
	text-transform: uppercase;
	padding: 12px 10px;
	border-radius: 25px;
	font-size: 1em;
	border-width: 3px;
	margin:5px;
	min-width: 3em;
	font-weight: 600;
}
button:focus {
	color: #fff;
}
h1, h3, p {
	text-align: center;
}
label {
	font-weight:bold;
}

#container {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #333;
}

#about {
	background-color: #820263;
	font-weight: 1000;
}

#error {
	top: 0;
	left: 0;
	color: #cc4455;
	display:none;
}
#reset {
	background-color: #8f3434;
}
#leftColumn {
	display: flex;
	flex-flow: column nowrap;
	width: calc(100vw - 232px);
}
#rightColumn {
	height: calc(100vh - 40px);
	width: 240px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	color: #333;
	background-color: #eee;
	padding: 15px 0 15px 15px;
	border-radius: 0;
	border-bottom-left-radius: 30px;
	text-align: center;
	overflow: hidden;
}
#rightColumn > .option {
	margin: 15px auto;
	padding-right: 15px;
}
#jxgbox {
	flex-grow: 1;
	background-color: #fefefe;
	border-radius: 0;
	border: 0;
}

#shadowbox {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	height: 100vh;
	width: 100vw;
	background-color: rgba(33,33,33, 0.8);
}
#shadowbox iframe {
	display: block;
	height: 90vh;
	width: 90vw;
	max-width: 900px;
	margin: 5vh auto;
	border: 0;
}

#closeShadowbox {
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 3em;
	text-decoration: none;
	color: #eee;
}

#shadowboxLegend {
	position: absolute;
	bottom: 285px;
	right: 375px;
	z-index: -1;
	height: 10vh;
	width: 10vw;
	background-color: rgba(255,255,255, .0);
}
#shadowboxLegend iframe {
	display: block;
	height: 30vh;
	width: 250vw;
	max-width: 250px;
	margin: 5vh auto;
	border: 0;
	opacity: .9;
	background: rgb(0,0,0);
}

#closeShadowboxLegend {
	display: block;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 3em;
	text-decoration: none;
	color: #808080;
}

#algorithmResultsContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
	padding: 5px;
	min-height: 30px;
	/*height: calc(50px - 1em);*/
}
#algorithmOptions {
	display: none;
}
#playbackControls {
	display: none;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	/*height: 50px;*/
	background-color: #333;
}
#playbackControls > * {
	margin-left: 10px;
	flex-grow: 0;
}
#playbackControls > button {
	min-width:30px;
	padding: 3px;
	border: 0;
	background-color: #333;
	margin: 0;
	vertical-align: middle;
	font-size: 1.61em;
}
#pp {
	flex-grow: 1;
}
#numPoints {
	width: 60px;
}

.pause {
	font-size: 0.63em;
}
.horBar {
	width: calc(100% - 1em);
	padding: 0.5em;
	flex-grow: 0;
}
.metricTitle {
	margin-left: 10px;
	font-weight: bold;
	color: #111;
}
.message {
	position:absolute;
	margin: 15px;
	padding: 5px;
	style: block;
	color: #666;
	/*height: 1em;*/
	background-color: rgba(238,238,238, 0.9);
	border: 1px solid rgba(238,238,238, 0.9);
	z-index: 99;
	border-radius: 5px;
}
.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}
.cardContents {
	max-height: calc(100% - 40px - 1em);
	width: 100%;
	margin: 0;
	background-color: rgba(0,0,0,0.1);
	overflow-y: scroll;
	overflow-x: hidden;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
p.option {
	font-size: 0.75em;
	font-family: sans-serif;
}
.half {
	min-width: 400px;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
.controls {
	flex-wrap: nowrap;
	justify-content: center;
}
.option {
	display :block;
	margin: 10px auto;
	max-width:200px;
}
.bigButton {
	background-color: #04A777;
	padding: 20px 18px;
	border-radius: 40px;
	font-size: 1.61em;
	border-width: 5px;
	margin:15px;
}
.optionSeparator {
	height: 3px;
	width: calc(100% - 5px);
	background-color: #666;
	border-color: #666;
	border-width: 2px;
	border-radius:2px;
	margin: 3px auto 2px;
	/* float:left;
	clear:both; */
}

/*.optionSeparatorPage2 {
	height: 3px;
	width: calc(100% - 5px);
	background-color: #666;
	border-color: #666;
	border-width: 2px;
	border-radius:2px;
	margin: 3px auto 2px;
	/* float:left;
	clear:both; 
}*/

.save {
	display: inline-block;
}
.singleResult {
	display: inline-block;
	background-color: #666;
	color: #eee;
	line-height: initial;
	padding: 0.31em 0.63em;
	margin: 3px 2px;
	border-radius: calc(25px);
	text-align: center;
}
/*.rightShadow {
  box-shadow: 0 8px 6px -6px black;
}*/

.onoffswitch {
    position: relative; top: 5px; left: 120px; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #558855; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #885555; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#onofflabeltext{
    position: relative; bottom: 13px;
    font-size: 17px;
}
